---
import { getBooks } from "../api/books";

import BookPageLayout from "@/layouts/BookPageLayout.astro";
import AboutSection from "@/components/AboutSection.astro";
import PrimaryButton from "@/components/shared/PrimaryButton.astro";
import ReviewSimpleCard from "@/components/ui/ReviewSimpleCard.astro";

import type { BookData, BookLinks } from "@/interfaces/BookData";
import type { BookReview } from "@/interfaces/BookReview";


export async function getStaticPaths() {

    const {body:books} = await getBooks()

    return books.map((book:BookData) => ({
      params: { name: book.slug },
      props: { book },
  })) || [];

} 

const {book} = Astro.props;
const {title, subtitle, description, image, links, reviews} = book as BookData;
const booksData = {title, subtitle, paragraph:description, image}

console.log(Astro.props)
---

<BookPageLayout {title}>   
    <!-- Book main info -->
    <AboutSection {...booksData} direction="" sectionTitle="books">
        <div class="flex flex-row items-center justify-left">
            {links?.map((link:BookLinks) => (
                <div class="mr-4">
                    <PrimaryButton {...link}/>
                </div>
            ))}
        </div>
    </AboutSection>

    <!-- Book simple reviews -->
    <div class="flex flex-col w-[80%] mx-auto my-8">
        <h4>Lo que mis</h4>
        <h2 class="h2-connect leading-[3rem]">Lectores dicen</h2>
        <div class="flex-flex-col w-full my-6">
          {console.log("Reviews entrantes",reviews)}
            {reviews?.map((review: BookReview) => (
                <ReviewSimpleCard {...review}/>
            ))}
        </div>
    </div>
    
</BookPageLayout>