---
const {fieldName} = Astro.props
---
<div class="grid grid-cols-1 my-2 gap-4 w-[80%] mx-auto">
    <label for="fname"><h4>{fieldName}</h4></label>
    <input class="rounded-xl p-2 text-center text-ocreNeutral-120" type="text" id="fname" name="fname">
</div>
