---
const {fieldName} = Astro.props
---
<div class="grid grid-cols-1 my-2 gap-4 w-full mb-8">
    <label for="fname"><h4 class="text-[1.1rem] text-ocreNeutral-110">{fieldName}:</h4></label>
    <input class="text-left text-xl text-ocreNeutral-120 bg-transparent border-b-[1px] border-ocreNeutral-120 outline-none" type="text" id="fname" name="fname">
</div>

