---
interface Props {
    text: string, 
    href: string,
    size?: string
}

const {text, href, size} = Astro.props;
const currentPath = Astro.url.pathname;
console.log("href", href)
console.log("Current path", currentPath)

console.log(href === currentPath)

---
<div>
    <a href={href} class:list={[
        `a-link px-3 ${size} transition-all ease-in-out`,
/*         {"text-ocre-110": href.includes("#about-me")}, */
        {"text-ocre-110": href === currentPath},
        {"text-ocreNeutral-120": href !== currentPath},
    ]}>
        {text}
    </a>
</div>
