---
interface Props {
    text: string, 
    href: string,
    size?: string
}

const {text, href, size} = Astro.props
---
<div>
    <a href={href} class:list={[
        `a-link px-3 ${size}`
    ]}>
        {text}
    </a>
</div>
