---
interface Props {
    title: string,
    link: string,
    size?: string
}
const {title, link, size} = Astro.props
---
<div>
    <a class:list={[
        `btn ${size}`
    ]} href={link}>
        {title}
    </a>
</div>