---

---
<div class="flex flex-col w-[60%] m-4">
    <label>
        <input type="checkbox" name="accept_terms" required>
        Al suscribirte a nuestro newsletter, aceptas nuestros <a href="terms.html" target="_blank" class="text-link">términos y condiciones.</a>
    </label>
</div>
  
