---
import { getVolunteerings } from "../api/volunteering";

import VolunteeringLayout from "@/layouts/VolunteeringLayout.astro";
import BlogTextContent from "@/components/ui/BlogTextContent.astro";

import type { Volunteering } from "@/interfaces/Volunteering";
import { getMedia } from "../helpers/fetchMedia";

export async function getStaticPaths() {
    const {body:volunteerings} = await getVolunteerings()

    return volunteerings.map((item:Volunteering) => ({
      params: { name: item.slug },
      props: { props: item },
    })) || [];
}


const { props } = Astro.props;
const { title, subtitle, slogan, paragraph, image, links } = props as Volunteering;
const volunteeringData = { title, subtitle, paragraph, image }

let img = null;
if (image && image.url) {
    img = await getMedia(image.url, image.name);
}
---

<VolunteeringLayout {title}>   
    <!-- Book main info -->
    <BlogTextContent {...volunteeringData}>
        
        <!-- Image -->
        <div class=`h-[55vh] w-full` 
        style=`background: url(${img}); background-size:cover;
        background-position-x: center; background-position-y: start; background-repeat: no-repeat`>
        </div>

        <!-- Slogan -->
        <h3 class="h3-hero mt-6 text-ocreNeutral-130 font-semibold" style="text-transform: none; letter-spacing: normal;">{slogan}</h3>

    </BlogTextContent>
    
</VolunteeringLayout>