@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap'); */

@font-face{
    font-family: 'gabarito';
    src: url('../assets/fonts/Gabarito.ttf') format('truetype');
};
@font-face{
    font-family: 'MrsSaintDelafield';
    src: url('../assets/fonts/MrsSaintDelafield.ttf') format('truetype');
}
@font-face{
    font-family: 'playfairdisplay';
    src: url('../assets/fonts/PlayfairDisplay.ttf') format('truetype');
}

/* .mrs-saint-delafield-regular {
  font-family: "Mrs Saint Delafield", cursive;
  font-weight: 400;
  font-style: normal;
} */


@layer base {
  :root {
    --radius: 0.5rem
  }

  body{
    @apply font-gabarito
  }

  /* Text global styles */
  .h1-hero{
    @apply text-ocre-140 mt-[4rem] font-MrsSaintDelafield
    text-xl text-[8rem] sm:text-[10rem] md:text-xl md:text-[14rem]
    transition-all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out
  }

  h2{
    @apply text-ocre-130 font-playfairdisplay text-[50px] tracking-[2.8px] leading-snug 
  }
  .h2-connect{
    @apply text-ocreNeutral-130 font-gabarito font-bold text-[36px] tracking-[0.1rem]
  }

  .h3-hero{
    @apply text-ocreNeutral-120  font-playfairdisplay uppercase tracking-[6.4px] text-[1.35rem] md:text-[1.75rem]
  }

  .h3-normal{
     @apply text-ocre-120 font-bold
  }

  .h3-connect{
    @apply text-ocreNeutral-150 font-bold
  }

  h4, h5{
    @apply text-ocreNeutral-120 font-bold text-xl
  }

  p{
    @apply text-ocreNeutral-120
  }

  span, label{
    @apply text-ocreNeutral-110
  }

  .a-link{
    @apply text-ocreNeutral-120 
    font-semibold text-lg sm:text-base
    hover:text-ocre-110
  }

  .text-link{
    @apply text-ocre-120 
    font-semibold 
    hover:text-ocre-110
  }

  /* Component styles */
  .btn{
    @apply flex items-center w-fit px-3 py-2 rounded-[1.2rem] 
    font-semibold text-sm
    hover:cursor-pointer
  }

  .primary-btn{
    @apply bg-ocre-110 text-ocre-30 
    hover:bg-ocre-100
  }
  .secondary-btn{
    @apply bg-white text-ocre-110 outline outline-ocre-110 outline-1
    hover:bg-ocre-100 hover:text-ocre-30 hover:outline-none
  }

  .hero{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FDF2DE 100%), url("../src/assets/book_mockup.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }


  .about-img{
    background: url("../src/assets/about_me.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: start;
  }

  .redemption-img{
    background: url("../src/assets/redemption_journey.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: start;
  }

  .volunteering-img{
    background: url("../src/assets/volunteering.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: start;
  }

  .samaritana-book{
    background: url("../src/assets/samaritana-book.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: start;
  }

  .reviewCard{
    @apply flex flex-col w-[280px] h-fit items-center text-center rounded-[20px];
    padding: 20px 22px;
    justify-content: flex-end;

    background: linear-gradient(180deg, #FFF 10.5%, #FCF0DF 100%);
    box-shadow: 0px 4px 64px 0px #DED2C3;

  }

  .card-img{
    @apply w-[120px] h-[120px] mb-2;
    /* background: url("../src/assets/redemption_journey.png"); */
  }

  .reviewSimpleCard{
    @apply flex flex-col bg-ocre-30 items-start text-left rounded-xl mx-0 my-4 px-8 py-4
  }
}
