---

---
<section class="hero flex w-full h-[100vh] items-center ">
    <div class="flex flex-col gap-16 w-full h-fit justify-center items-center text-center mb-[8rem]">
        <h3 class="h3-hero uppercase">Fátima Martínez</h3>
        <h1 class="h1-hero">Samaritana</h1>
    </div>
</section>
