---

---
<section class="hero flex w-full h-[100vh] items-center ">
    <!-- <img class="mx-auto bg-cover" src='../src/assets/book_mockup.png'/> -->
    <div class="flex flex-col gap-16 absolute w-full h-fit justify-center items-center text-center mb-[8rem]">
        <h3 class="h3-hero">Fátima Martínez</h3>
        <h1 class="h1-hero">Samaritana</h1>
    </div>
</section>
