---
import type {ReviewCard} from '@/interfaces/ReviewCard';

//const {name, country, review, image=""} = Astro.props as ReviewCard 
const reviews = Astro.props
---
<section class="bg-ocre-30 flex flex-col w-full h-[100vh]">
    <!-- Cards -->
     <div class="grid grid-cols-3 grid-rows-1">
        <!-- Render de cards -->
         {reviews.map((review:ReviewCard) => (
            "algo"
         ))}
     </div>
</section>
