---
import PrimaryButton from './shared/PrimaryButton.astro';
import CloseButton from './shared/CloseButton.astro';
import BurgerMenuButton from './shared/BurgerMenuButton.astro';
import Link from './shared/Link.astro';


const links = [
  //{ text: 'Inicio', href: '/' },
  { text: 'Sobre mi', href: '/' },
  { text: 'Libros', href: '/' },
  { text: 'Voluntariado', href: '/' },
  { text: 'Blog', href: '/blog' },
];

---

<nav class="bg-orange-50">
    <div class="container mx-auto px-4 py-2 flex justify-between items-center">
        <!-- Icono provisional -->
        <a href="/" class="hidden sm:flex a-link ">
            <div class="flex rounded-full bg-ocre-110 justify-center px-3 py-1"><span class="text-ocre-30 font-bold">S</span></div>
        </a>

        <!-- Botón del menú móvil -->
        <BurgerMenuButton />
       

        <!-- Menú Desktop -->
        <div class="hidden sm:flex sm:items-center lg:space-x-8">
            {links.map(link => (
                <Link {...link} class:list={"px-3 py-2"}/>
            ))}
        </div>   

        <PrimaryButton title='Conectemos' class:list={"hidden sm:flex sm:items-center lg:space-x-8"}/>
    </div>

    <!-- Menú Mobile -->
    <div id="mobile-menu" class="fixed top-0 left-0 w-full h-full bg-orange-100 transform -translate-x-full transition-transform duration-300 sm:hidden">
        <!-- Botón de cerrar -->
        <CloseButton />
        <!-- Links -->
        <ul class="flex flex-col items-center justify-center h-full p-4">
            {links.map(link => (
                <div class="py-2 px-4 space-y-2">
                    <Link {...link}/>
                </div>
            ))}
   
        <div class="mt-10">
            <PrimaryButton title='Conectemos' class:list={"text-base sm:text-sm"}/> 
            
        </div>
        </ul>
    </div>
</nav>

<script>
    const mobileMenuButton = document.getElementById('mobile-menu-button');
    const closeMenuButton = document.getElementById('close-menu-button');
    const mobileMenu = document.getElementById('mobile-menu');

    // Mostrar el menú móvil
    mobileMenuButton?.addEventListener('click', () => {
        mobileMenu?.classList.remove('-translate-x-full');
    });

    // Ocultar el menú móvil
    closeMenuButton?.addEventListener('click', () => {
        mobileMenu?.classList.add('-translate-x-full');
    });
</script>
