---
import BookPageLayout from "@/layouts/BookPageLayout.astro";
import AboutSection from "@/components/AboutSection.astro";
import type { About } from "@/interfaces/AboutSection";
import type { GetStaticPaths } from "astro";
import PrimaryButton from "@/components/shared/PrimaryButton.astro";

import books from '@/assets/data/books.json'; 
import simpleReviews from '@/assets/data/simpleReviews.json'; 

import type { BookData } from '@/interfaces/BookData'
import type { ButtonData } from "@/interfaces/ButtonData";
import ReviewSimpleCard from "@/components/ui/ReviewSimpleCard.astro";
import type { ReviewCard } from "@/interfaces/ReviewCard";
import InputFieldOutlineStyle from "@/components/shared/InputFieldOutlineStyle.astro";


export const getStaticPaths = (() => {
    const booksContent =  books.map((book) => {
        let bookPath = book.title.toLocaleLowerCase().replace(/\s+/g, '-')
        return {bookPath, ...book}
    })

    const staticPaths = booksContent.map((book) => (
        { params: {name: book.bookPath}, props: {...book} }
    ))
    //console.log(staticPaths)
    return staticPaths

}) satisfies GetStaticPaths;

const {name} = Astro.params;
const {title, subtitle, paragraph, image, links} = Astro.props;
const booksData: About = {title, subtitle, paragraph, image}

---

<BookPageLayout {name}>   
    <!-- Book main info -->
    <AboutSection {...booksData} direction="flex-row-reverse">
        <div class="flex flex-row items-center justify-left">
            {links.map((link:any) => (
                <div class="mr-4">
                    <PrimaryButton {...link}/>
                </div>
            ))}
        </div>
    </AboutSection>

    <!-- Book simple reviews -->
    <div class="flex flex-col w-[80%] mx-auto ">
        <h2 class="h2-connect leading-[3rem]">Lo que mis lectores dicen:</h2>
        <div class="flex-flex-col w-full my-6">
            {simpleReviews.map((review: ReviewCard) => (
                <ReviewSimpleCard {...review}/>
            ))}
        </div>
    </div>
    
    <!-- Simple review form -->
    <div class="flex flex-col w-[80%] mx-auto ">
        <h4>¿Has leído {title}?</h4>
        <h2 class="h2-connect leading-[3rem]">¡Me encantaría conocer tu opinión!</h2>
        <div class="flex-flex-col w-full my-6">
            <div class="grid grid-cols-1 gap-10 md:grid-cols-2 w-full">
                <InputFieldOutlineStyle fieldName="Nombre"/>
                <InputFieldOutlineStyle fieldName="Email"/>
            </div>
            <InputFieldOutlineStyle fieldName="Review"/>
        </div>
    </div>
    
</BookPageLayout>