@media (max-width: 1200px){

    .container{
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-rows: 1fr 1fr; */
        grid-template-areas: 
            "section-img"
            "section-text";
        min-height: 100vh !important;
        height: auto !important;
        max-height: min-content;
        /* height: auto !important;
        max-height: none !important; */
    }

    .grid{
        gap: 0;
        /* height: auto; */
    }

    section{
        text-align: center;
    }

    p{
        font-size: 1rem;
    }

    .front-page{
        display: grid;
    }
    
    .front-page .title{
        position: static;
        top: 0;
        align-self: center;
        margin: 5.5rem auto !important;
        /* margin: 45% auto !important; */
    }

    .front-page .title h1{
        position: relative;
        left: -1.5rem;
        font-size: 10rem;
    }

    .front-page .title h2{
        /* width: 80%; */
        font-size: 1.5rem;
        line-height: 2.2rem;
        justify-self: center;
    }

    .front-page .title p{
        font-size: 1.2rem;
        bottom: 1rem;
    }

    section .section-text{
        align-self:center;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 10%;
        margin-inline: auto;
        grid-area: section-text;
        position: static;
    }

    section .section-text p{
        width: 65%;
        font-size: 1.1rem !important;
        margin: 0 auto;
    }
    
    section .section-img{
        overflow: hidden;
        align-self: first baseline;
        position: static;
        height: 60vh !important;
    }

    .sinopsis .section-img img, .inspiration .section-img img{
/*         width: 100% !important; */
        top: 0 !important;
    }

    .reviews{
        display: grid;
        grid-template-columns: repeat(4, 3fr);
        grid-template-rows: 150px 1fr 1fr;
        grid-template-areas:  
            "title title title title"
            "card-1 card-1 card-2 card-2"
            ".      card-3 card-3     .";
        grid-column: span 12;
        padding-inline: 30px;
        padding-bottom: 20px;
        min-height: 100vh;
        height: auto !important;
    }

    .reviews .title{
        text-align: center;
        justify-self: center;
        align-self: center;
        grid-area: title;
    }
    .reviews .card-1{
        grid-area: card-1;
    }
    .reviews .card-2{
        grid-area: card-2;
    }
    .reviews .card-3{
        grid-area: card-3;
    }

    .reviews .review-card{
        /* grid-column: span 6; */
        grid-template-rows: 1fr 50px 50px 1fr;
        width: 70%;
        height: 75%;
        padding: 40px 30px;
        margin: 0 auto;
    }

    .buy{
        display: grid;
        grid-template-areas: 
            "img"
            "txt";
        grid-template-rows: 45% 1fr;
        min-height: 100vh !important;
        padding-bottom: 8%;
    }

    .buy .section-text{
        grid-area: txt;
    }

    .buy .section-text .buy-btn{
        margin-inline: 0.5rem !important;
    }

    .buy .section-img{
        background-size: cover;
        grid-area: img;
    }

    .buy .section-text-buy .buy-copy {
        margin-top: 3rem;
    }
}

@media (max-width: 768px){
    /* header{
        position: fixed;
        z-index: 1;
        width: 100vw;
        height: 6vh;
        background: #FAFAF0;
    } */

    nav{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: 
            "burger . btn";
        justify-content:center;
        align-items: center;
        height: 8vh;
        margin-top: 0 !important;
        padding: 0 !important;
        padding-top: 15px !important;
    }

    nav a{
        display: none;
    }

    .burger-menu, .nav-btn{
        display: block;
    }

    .nav-btn{
        grid-area: btn;
        position: relative;
        bottom: 10px;
    }

    .burger-menu{
        margin-top: 25px;
        grid-area: burger;
        position: relative;
        bottom: 5px;
    }

    .front-page{
        max-width: 100vw;
        height: 100vh;
        background: url(../img/book_mockup_1_mobile.jpg) !important;
        background-size: cover !important;
        background-repeat: no-repeat;
        background-position-x: -520px !important;
        background-position-y: -35px !important;

        grid-column: 2/span 10;
    }

    .front-page .title{
        margin: 35% auto;
    }
    
    .front-page .heading-btn{
        display: block;
        margin: 0 auto;
        /* margin-top: -28%; */
        opacity: 35%;
    }

    .front-page .title h1{
        position: relative;
        left: -0.5rem;
        font-size: 6rem;
    }

    .front-page .title p{
        font-size: 1rem;
        position: relative;
        bottom: 2rem;
        padding: 15px;
        text-shadow: #f0eae0 1px 1px 4px;
        /* background-color: rgba(240, 234, 224, 0.5);
        border-radius: 15px; */
    }

    .front-page svg{
        position: relative;
        bottom: 7.5rem;
    }

    section /* .section-text */ h2{
        font-size: 2.5rem;
        margin: 2rem 0;
    }

    /* .sinopsis{
        min-height: 150vh;
    } */

    .sinopsis .section-img, .inspiration .section-img{
        /* width: 100%; */
        grid-column: span 12 !important;
        height: 100% !important;
        /* height: 50vh; */
    }

    .sinopsis .section-text{
        align-self: center;
    }

    .sinopsis .section-img img, .inspiration .section-img img{
        width: 83% !important;
    }

    .inspiration .author-copy{
        margin-inline: auto;
    }

    .reviews{
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4, min-content);
        grid-template-areas: 
            "title"
            "card-1"
            "card-2"
            "card-3";
        height: auto !important;
        max-height: none !important;
        row-gap: 20px;
        padding-bottom: 40px;
    }

    .reviews .title{
        /* width: 100% !important; */
        grid-column: span 12;
        align-self: center !important;
        margin: 0 auto;
    }

    #reviews > div.reviews-title{
        margin-left: 1.3rem;
    }

    .reviews .review-card{
        grid-template-rows: 1fr 50px 50px auto;
        grid-column: 2 /span 10;
        width: 85%;
        height: 80%;
        /* height: 55%; */
        /* background-color: red; */
    }

    .reviews .review-card p{
        width: 100%;
    }

    .buy{
        display: grid;
        grid-template-rows: repeat(2, min-content);
        grid-template-areas: 
            "img"
            "txt";
        min-height: 100vh !important;
        height: 100vh;
    }

    .buy .section-img{
        background-size: auto;
        grid-area: img;
        height: 50vh;
    }

    .buy .section-text{
        grid-area: txt;
        align-self: first baseline;
    }

    .buy .section-text-buy .buy-copy{
        margin-top: 3rem;
    }

    .buy a{
        display: block;
        margin-inline: auto; 
    }

    footer{
        min-height: 35vh;
    }

    footer .footer-contacto{
        align-self: center !important;
    }

    footer .footer-contacto h3{
        font-size: 3rem;
    }

    footer .footer-contacto p{
        width: 80%;
    }

};
