---
import SimpleNavbar from "@/components/ui/SimpleNavbar.astro";
import '../styles/globals.css';

const {title} = Astro.props

---

<!doctype html>
<html lang="en" >
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/samaritana/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/samaritana/style.css">
		<!-- <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script> -->
		<title>{title}</title>
	</head>
<body >
		<!-- Navbar -->
		<SimpleNavbar/>
		<slot></slot>
	</body>
</html>

