---
const {title, textSize} = Astro.props;

const currentPath = Astro.url.pathname;

---
<div x-data="{
    visible: false,
    
    close(focusAfter) {
        if (! this.visible) return
        this.visible = false
        focusAfter && focusAfter.focus()
    }
}"
    class="transition-all duration-200"
>
    <div class="flex flex-row justify-center">
        <p @click="!visible ? visible = !visible : close()"
            @click.outside="close($refs.dropdownMenu)"
            class:list={[`drop-menu-trigger a-link text-center cursor-pointer ${textSize} lg:text-base`,
            {"text-ocre-110": currentPath.includes(title.toLowerCase())},
        ]}>{title} 
            <div
                class="w-fit flex flex-row items-center transition-all duration-200"
                :class=`visible ? 'transform rotate-180 ' 
                : 'transform rotate-0 '`
            >
                <span>▾</span>
            </div>
        </p>
    </div>
    <div 
        x-ref="dropdownMenu"
        x-bind:class="{
            'block opacity-100 transform scale-100 transition-all duration-300 ease-in-out': visible,
            'hidden opacity-0 transform scale-95 transition-all duration-300 ease-in-out': !visible
          }"
        class="transform transition-all duration-400"
    >
        <slot ></slot>
    </div>
</div>
