---
const {title, textSize} = Astro.props;

const currentPath = Astro.url.pathname;

---
<div>
    <p class:list={[`drop-menu-trigger a-link text-center cursor-pointer ${textSize} transition-all ease-in-out`,
        {"text-ocre-110": currentPath.includes(title.toLowerCase())},
    ]}>{title} ▾</p>
    <slot ></slot>
</div>
