---
import type {ReviewCard} from '@/interfaces/ReviewCard';

const {name, review} = Astro.props as ReviewCard
---

<div class="reviewSimpleCard">
    <h4 class="text-ocreNeutral-130">{name}</h4>
    <p>{review}</p>
</div>