---
import type { BookReview } from '@/interfaces/BookReview';
import type {ReviewCard} from '@/interfaces/ReviewCard';

const {author, content} = Astro.props as BookReview
---

<div class="reviewSimpleCard">
    <h4 class="text-ocreNeutral-130">{author}</h4>
    <p>{content}</p>
</div>