---
import PrimaryButton from '../shared/PrimaryButton.astro';
import CloseButton from '../shared/CloseButton.astro';
import BurgerMenuButton from '../shared/BurgerMenuButton.astro';
import Link from '../shared/Link.astro';
import type { ButtonData } from '@/interfaces/ButtonData';


const links = [
  //{ text: 'Inicio', href: '/' },
  { text: 'Sobre mi', href: '/' },
  { text: 'Libros', href: '/' },
  { text: 'Voluntariado', href: '/' },
  { text: 'Blog', href: '/blog' },
];

const ctaBtnData:ButtonData = {title: "Conectemos", link: "/#connect"}

---

<nav class="bg-orange-50 w-full fixed z-10">
    <div class="container mx-auto px-4 py-2 flex justify-between items-center">
        <!-- Icono provisional -->
        <a href="/" class="flex a-link ">
            <div class="flex w-[32px] h-[32px] rounded-full bg-ocre-110 justify-center items-center px-3 py-1"><span class="text-ocre-30 font-bold">S</span></div>
        </a>

        <!-- Botón del menú móvil -->
        <BurgerMenuButton />
       

        <!-- Menú Desktop -->
        <div class="hidden md:flex md:items-center lg:space-x-8 text-center ml-[4.2rem] ">
            {links.map(link => (
                <Link {...link} size='text-lg sm:text-base' class:list={"px-3 py-2"}/>
            ))}
        </div>   

        <div class:list={"hidden md:flex md:items-center lg:space-x-8"}>
            <PrimaryButton {...ctaBtnData} />
        </div>
    </div>

    <!-- Menú Mobile -->
    <div id="mobile-menu" class="fixed top-0 left-0 w-full h-full bg-orange-100 transform -translate-x-full transition-transform duration-300 md:hidden">
        <!-- Botón de cerrar -->
        <CloseButton />
        <!-- Links -->
        <ul class="flex flex-col items-center justify-center h-full p-4">
            {links.map(link => (
                <div class="py-2 px-4 space-y-2">
                    <Link {...link} size='text-[1.5rem]'/>
                </div>
            ))}
   
        <div class="mt-[6rem]">
            <PrimaryButton {...ctaBtnData} size='text-lg px-4' title='Conectemos'/> 
            
        </div>
        </ul>
    </div>
</nav>

<script>
    const mobileMenuButton = document.getElementById('mobile-menu-button');
    const closeMenuButton = document.getElementById('close-menu-button');
    const mobileMenu = document.getElementById('mobile-menu');

    // Mostrar el menú móvil
    mobileMenuButton?.addEventListener('click', () => {
        mobileMenu?.classList.remove('-translate-x-full');
    });

    // Ocultar el menú móvil
    closeMenuButton?.addEventListener('click', () => {
        mobileMenu?.classList.add('-translate-x-full');
    });
</script>
